.header__logo {
    background-image: url(../../../images/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 142px;
    height: 33px;
}

@media screen and (max-width: 900px) {
    .header__logo {
        margin-left: 27px;
    }
}

@media screen and (max-width: 420px) {
    .header__logo {
        width: 104px;
        height: 25px;
    }
}