.profile__add-button {
    width: 150px;
    height: 50px;
    background-image: url(../../../images/add-symbol.svg);
    background-size: 22px;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid white;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity ease 0.4s;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .profile__add-button  {
        margin-top: 13.5px;
        width: 100%;
    }
}