.notification__close {
    width: 15px;
    height: 15px;
    background-color: white;
    background-image: url("../../../images/close-notification.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 8px;
    right: 8px;
    border: 0;
    padding: 0;
    cursor: pointer;
}