@keyframes move {
    0% {right: -400px;}
    100% {right: 0;}
}

.notification {
    position: relative;
    font-family: 'Inter', 'Arial', sans-serif;
    color: white;
    background-color: rgba(32, 32, 32, 0.836);
    border-radius: 6px;
    padding: 20px;
    border: 1px solid #adadad;
    list-style: none;
    animation: move;
    animation-duration: 2s;
    animation-direction: normal;
    box-sizing: border-box;
}