@keyframes move {
    0% {right: -400px}
    100% {right: 0}
}

.notification {
    position: relative;
    font-family: 'Inter', 'Arial', sans-serif;
    color:rgb(78, 76, 76);
    max-width: 350px;
    min-width: 200px;
    background-color: white;
    border-radius: 4px;
    padding: 20px 40px 20px 50px;
    background-position: 10px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    list-style: none;
    animation: move;
    animation-duration: 2s;
    animation-direction: normal;
}
