.popup__submit {
    background: #000000;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color:white;
    height: 50px;
    border: none;
    box-shadow: none;
    margin-top: 31px;
    cursor: pointer;
    transition: opacity ease 0.4s;
    width: 100%;
}

.popup__submit:hover {
    opacity: 0.8;
}

@media screen and (max-width: 420px) {
    .popup__submit {
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}
